:root{
    --background: #fffef4;
    --foreground: #536651;
    --primary: #143a17;
    --primary-light: #cdebd5;
    --primary-foreground: #fff;
    --secondary: #7c9c6f;
    --secondary-foreground: #143a17;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%; /*a cada 1rem equivalente +ou- 10px*/
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.button{
    display: inline-block;
    border: 0.2rem solid var(--foreground);
    color: var(--foreground);
    border-radius: 1.5rem;
    padding: 0.8rem 1.5rem;
    transition: all ease .2s;
}

.button:hover{
    background-color: var(--foreground);
    color: var(--primary-foreground);
}
body{
    background-color: #fcfcfa;
}


